*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;

}
.rect{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.shape{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    font-family:montserrat;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}